.Burger {
    width: 100%;
    margin: 0 auto;
    height: 200px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 1000px) and (min-height: 700px ){
    .Burger {
        width: 700px;
        height: 600px;
    }
}
